<div class="card quick-action-card">
    <div class="card-header bg-primary text-white rounded-top">
       Guia medica
    </div>
    <div class="card-body">
        <p class="card-text text-secondary">
            Recibe las mejores opciones de atencion medica.
        </p>
        <div class="arrow-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L5.293 2.293a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>
    </div>
</div>
